.write {
  padding-top: 50px;
  background: #f2f2f2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: calc(100vh - 230px);
  border-radius: 20px;
}

.writeImg {
  width: 70vw;
  height: 30vw;
  border-radius: 10px;
  object-fit: contain;
  background-color: #1f1e3d;
}

.writeForm {
  max-width: 1600px;
}

.writeFormGroup {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.writeIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
  margin-top: 10px;
  background: #f2f2f2;
  white-space: pre-line;
  white-space: pre-wrap;
  text-indent: 50px;
}

.writeInput::placeholder {
  color: #bdb9b9;
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  color: #f2f2f2;
  background-color: #1f1e3d;
  padding: 10px;
  border-radius: 20px;
  width: 120px;
}

.selectEdit {
  width: 8em;
  height: 2em;
  border-radius: 0.25em;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.selectEdit option {
  cursor: pointer;
}

.categoriasSelect {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0 4rem 0;
}
/* Media querrys */

@media screen and (max-width: 860px) {
  .write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    margin-left: 0;
  }

  .writeImg {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .form {
    margin-left: 0;
  }
  .selectEdit {
    position: none;
    top: 500px;
    right: 100px;
  }
}

.inputImagePlus {
  align-items: center;
  display: flex;
  flex-direction: column;
}
